*{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(48, 137, 201);
}

.box
{
    height: 350px;
    width: 630px;
    border: 2px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 20px;
    position: absolute;
    top: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3
{
    text-align: center;
    margin-top: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.jokeBtn 
{

    position: relative;
    top: 100px;
    left: 240px;
    background:linear-gradient(230deg,rgb(165, 80, 245),rgb(155, 78, 233));
    border: none;
    border-radius: 23px;
    color: rgb(198, 196, 196);
    padding:8px;
    font-size: 1rem;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}

.jokeBtn:hover 
{
    cursor: pointer;
    background:linear-gradient(230deg,rgb(143, 62, 224),rgb(141, 23, 209));
    
}


#joke 
{
    text-align: center;
    position: relative;
    top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}